move-list {
  counter-reset: list-number;
}

move-list .move {
  display: flex;
}

move-list .move > * {
  padding-right: 1em;
}

move-list .move::before {
  counter-increment: list-number;
  content: counter(list-number) ". ";
  padding-right: 1em;
}

move-list-entry{
  display: flex;
  align-items: center;
}

move-list-entry .piece{
  width: 1rem;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}

move-list-entry:first-child .piece{
  fill: var(--piece-light);
}
